body {
    margin: 0;
    overflow: hidden;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

canvas {
    display: block;
    background: linear-gradient(#1e90ff, #0066cc);
}
